*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: #270837;
    color: #fff;
}
h1{
    /* background-color: #081b31;
    color: #fff; */
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
img:hover{
    opacity: 0.6;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vmin;
    margin-top: 5rem;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#userScore ,#compScore{
    font-size: 4rem;
}
.msgContainer{
    margin-top: 5rem;
}
#msg{
    background-color: #214f4b;
    color: #fff;
    height: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1.2rem;
}
